@charset "UFT-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(./imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 311px;
    height: 627px;

    background-image: url(./imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
#tela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 267px;
    height: 475px;

    background-size: cover;
    background-attachment: fixed;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(0, 0, 0, 0.329);
    transform: translate(-3px, -2px);
    transition: transform .2s, border;

}
